@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.small-button {
  @apply outline-none focus:outline-none hover:cursor-default rounded-lg py-1 px-3 font-sans 
          text-xs font-bold uppercase text-white shadow-md shadow-blue-500/20
           transition-all hover:shadow-lg hover:shadow-red-500/40 bg-zinc-800;
}


.Dialog-overlay {
  display: grid;
  place-items: center;
}

.Dialog {
  margin: 15px;
  padding: 15px;
  border-radius: 4px;
}
